body {
    background-color: #e3e3e3;
}
.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.login-container img {
    display: block;
    margin: 0 auto 20px;
    width: 150px;
}
.btn-custom {
    background-color: #b89d5b;
    color: white;
}
.btn-custom:hover {
            background: #a4883e;
            color: #fff;
        }
